#equity_graph_wrapper {
    position: absolute;
    top: 155px;
    left: 10px;
    width: 460px;
    margin: 0;
    padding: 0;
    border: 0;
}

#equity_graph_wrapper p {
    display: none;
    text-align: center;
    margin: 0;
}

#equity_graph {
    width: 460px; 
    height: 250px;
}

#get_data_from_pe_btn {
    position: absolute;
    top: 13px;
    left: 416px;
    height: 52px;
    width: 52px;
}

#evaluate_btn {
    position: absolute;
    top: 73px;
    left: 416px;
    height: 52px;
    width: 52px;
}

input[type=button] {
    board: 1px solid gray;
    background-color: white;
}

#my_range_table {
    position: absolute;
    top: 450px;
    left: 298px;
    width: 170px
}

#my_range_table th {
    width: 50px;
}

#villain_range_table {
    position: absolute;
    top: 450px;
    left 10px;
    width: 270px;
}

#villain_range_table th {
    width: 50px;
}

.hearts {
    color: red;
}
.diamonds {
    color: blue;
}
.clubs {
    color: green;
}
.spades {
    color: black;
}

.hearts:after {
    content: "\2665";
}

.diamonds:after {
    content: "\2666";
}
.clubs:after {
    content: "\2663";
}
.spades:after {
    content: "\2660";
}

body {
    font-family: arial;
}

table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}

table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}
table.tablesorter caption{
    font-size: 12pt;
}
