<html>
    <head>
        <title>Equilator</title>
        <link rel='stylesheet' type='text/css' href='static/equilator.css'/>
        <script type='text/javascript' src='static/jquery.js'></script>
        <script type='text/javascript' src='static/jquery.flot.min.js'></script>
        <script type='text/javascript' src='static/jquery.tablesorter.min.js'></script>
        <script type='text/javascript' src='static/equilator.js'></script>
    </head>
    <body>
        <table>
            <tr>
                <td>My Hand:</td>
                <td><input type='text' id='my_hand_input' tabindex='1' readonly='readonly'></input></td>
                <td id='my_hand_label'></td>
            </tr>

            <tr>
		<td>My Range:</td>
		<td><input type='text' id='my_range_input' tabindex='2' readonly='readonly'></input></td>
                <td id='my_range_label'></td>
            </tr>

            <tr>
		<td>Villain Range:</td>
                <td><input type='text' id='villain_range_input' tabindex='3' readonly='readonly'></input></td>
                <td id='villain_range_label'></td>
            </tr>

            <tr>
                <td>Board:</td>
                <td><input type='text' id='board_input' tabindex='4' readonly='readonly'></input></td>
                <td id='board_label'></td>
            </tr>
        </table>

	<input type='button' value='<' id='get_data_from_pe_btn'></input>
	<input type='button' value='%' id='evaluate_btn'></input>

	<div id = equity_graph_wrapper>
	    <p>My Hand Equity Distribution</p>
            <div id='equity_graph'></div>
	</div>

	<table id='my_range_table' class='tablesorter'>
	    <caption></caption>
            <thead>
                <tr>
                    <th>Hand</th>
                    <th>Mean</th>
                    <th>Std</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>

	<table id='villain_range_table' class='tablesorter'>
	    <caption></caption>
            <thead>
                <tr>
                    <th>Hand</th>
                    <th>Mean</th>
                    <th>Std</th>
                    <th>REQ</th>
                    <th>Diff</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </body>
</html>
